In [2]:
car = "Hundai"
car

'Hundai'

In [3]:
# python is case sensitive
Car

NameError: name 'Car' is not defined

In [4]:
# Variable name cannot start with a integer & Special characters cannot be used in variable names
12Bas = "Basant"
12Bas

SyntaxError: invalid syntax (2758498808.py, line 1)

In [11]:
Bas12_1 = 12
Bas12_1

12

In [12]:
# Arithematic operation
a = 10
b = 20
result = a + b
print(result)

30

In [13]:
a = 10
b = 20
result = a - b
print(result)

-10

In [14]:
a = 100 / 40

2.5

In [15]:
a = 100 // 40
a

2

In [32]:
# We canot use python reserved keywords as variable names

name = "Basant"
a = name[:4]
print (a)

Basa

In [22]:
names = ['Basant', 'Hemant', 'Nishant', 'Jyoti']
names

['Basant', 'Hemant', 'Nishant', 'Jyoti']

In [25]:
# assigning List values to different variables
w, x, y, z = names
print(w)
print(x)
print(y)
print(z)

Basant
Hemant
Nishant
Jyoti

In [26]:
print('Best of luck ' + x + '!!')

Best of luck Hemant!!

In [30]:
#Camel Case

myName = "Basant"
myCollege = "Islington"
locationIs = "KamalPokhari"
joinedCollegeIn = 2018

print(myName)
print(myCollege)
print(locationIs)
print(joinedCollegeIn)

Basant
Islington
KamalPokhari
2018

In [29]:
#Pascle Case

MyName = "Basant"
MyCollege = "Islington"

print(MyName)
print(MyCollege)

Basant
Islington

In [31]:
#Snake Case

my_name = "Basant"
my_college = "Islington"

print(my_name)
print(my_college)

Basant
Islington