In [1]:
# Sorted the list in ascending order

num = [2,5,7,3,9,10]
for i in sorted(num):
    print(i)

2
3
5
7
9
10

In [2]:
# Sorted the list in descending order

num = [2,5,7,3,9,10]
for i in sorted(num, reverse = True):
    print(i)

10
9
7
5
3
2

In [3]:
players = ['Ram','Shyam','Hari','Ronaldo']
for i in sorted(players, reverse = True):
    print(i)

Shyam
Ronaldo
Ram
Hari

In [6]:
#sorted a dictionary

dict1 = {1:"a",2:"b",3:"c",4:"d"}
for i in sorted(dict1.items(), reverse =True):
    print(i)

(4, 'd')
(3, 'c')
(2, 'b')
(1, 'a')

In [7]:
dict1 = {1:"a",2:"b",3:"c",4:"d"}
for i in sorted(dict1.keys(), reverse =True):
    print(i)

4
3
2
1

In [8]:
dict1 = {1:"a",2:"b",3:"c",4:"d"}
for i in sorted(dict1.values(), reverse =True):
    print(i)

d
c
b
a

In [10]:
# Reversing a list

name = ['ram','laxman','sita','gita','sudhama']
for i in reversed(name):
    print(i)

sudhama
gita
sita
laxman
ram

In [14]:
# Using lambda function to filter

animals = [{"name": "Ram", "age":20}, {"name": "Shyam", "age":19}, {"name": "Gita", "age":22}, {"name": "Sita", "age":25}, {"name": "Hari", "age":30}]
for animals in filter(lambda i: i["age"]%2 == 0, animals):
    print(animals)

{'name': 'Ram', 'age': 20}
{'name': 'Gita', 'age': 22}
{'name': 'Hari', 'age': 30}

In [22]:
# Removes all the elements from the list

country = ['Nepal','India','Iran','Bangladesh','USA']
while country:
    print(country.pop(-1))

USA
Bangladesh
Iran
India
Nepal

In [23]:
country

[]

In [25]:
n = 10
while n >0: n -=1 ; print(n)

9
8
7
6
5
4
3
2
1
0

In [26]:
# Using enumurate() function you can give indices to the items in your list.

In [29]:
name = 'Hero'
for i in enumerate(name):
    print(i)

(0, 'H')
(1, 'e')
(2, 'r')
(3, 'o')

In [28]:
#using start parameter in enumerate function

name = 'Heropanti'
for i in enumerate(name, start = 10):
    print(i)

(10, 'H')
(11, 'e')
(12, 'r')
(13, 'o')
(14, 'p')
(15, 'a')
(16, 'n')
(17, 't')
(18, 'i')

In [30]:
# zip function

f1 = ['Apple','Ball','Cat','Dog']
f2 = ['Ram','Shyam','Hari','Gita']
for i in zip(f1,f2):
    print(i)

('Apple', 'Ram')
('Ball', 'Shyam')
('Cat', 'Hari')
('Dog', 'Gita')

In [34]:
#from itertools import zip_longest

f1 = ['Apple','Ball','Cat','Dog','Elephant','Fog','Goat']
f2 = ['Ram','Shyam','Hari','Gita']
for i in zip_longest(f1, f2, fillvalue='NA'):
    print(i)

('Apple', 'Ram')
('Ball', 'Shyam')
('Cat', 'Hari')
('Dog', 'Gita')
('Elephant', None)
('Fog', None)
('Goat', None)