In [1]:
# Built-in function in python

#abs function

a = -10
print(abs(a))

10

In [2]:
# len function

l1 = ['Ram','Shyam','Hari','Gita']
x = len(l1)
print(x)

4

In [4]:
# all function

list1 = [1,2,3,4,5,0]
x = all(list1)
print(x)

False

In [5]:
# sum function

s = sum([10,20,30]) # List
ss = sum((1,2,3)) #Tuple
print(s)
print(ss)

60
6

In [6]:
# max and min function

m1 = max(3,6,8,12,45,2,3)
print(m1)

45

In [7]:
m2 = min(2,4,6,9,12,54)
print(m2)

2

In [9]:
maxd =max({2,4,7,12,84,2,76})
print(maxd)

84

In [10]:
# iter function and next function prints the next value in the iterating list

lst1 = iter(['A','B','C','D'])
x = next(lst1)
print(x)

A

In [11]:
x = next(lst1)
print(x)

B

In [12]:
x = next(lst1)
print(x)

C

In [13]:
# pow function (power function)

x1 = pow(3,3)
x2 = pow(2,4)
print(x1)
print(x2)

27
16

In [14]:
# Range function
y = range(6)
for i in y:
    print(i)

0
1
2
3
4
5

In [15]:
# (start, end, step)

x = range(40,50,2)
for i in x:
    print(i)

40
42
44
46
48

In [16]:
# round function

x = round(10.1234, 2)
print(x)

10.12

In [17]:
# sorted function

a = [3,4,12,5,6,14,7,8]
x = sorted(a)
print(x)

[3, 4, 5, 6, 7, 8, 12, 14]

In [18]:
a = [3,4,12,5,6,14,7,8]
x = sorted(a, reverse = True)
print(x)

[14, 12, 8, 7, 6, 5, 4, 3]

In [20]:
# Slice function

a = ('S','L','I','C','E','S')
x = slice(3)
print(a[x])

('S', 'L', 'I')

In [21]:

# User Defined functions

In [22]:
# First define a function then call that function outside the function

def myfunc():
    print('Hello Bro!')
myfunc()

Hello Bro!

In [26]:
 def func1():
    name = str(input('Enter your name: '))
    print('Hello '+ name)
func1()

Enter your name: Admin
Hello Admin

In [31]:
# Passing argument in user defined function

def ft_cm(ft):
    cm = ft * 30.48
    return cm

ft_cm(3)

91.44

In [35]:
def add(x,y):
    sum = x+y
    return sum
add(10,20)

30

In [39]:
def absolute(x):
    if x >=0:
        return x
    else:
        return -x
absolute(-56)

56

In [43]:
# To find factorial

def factorial(a):
    if a ==0:
        return 1
    else:
        return a * factorial(a-1)
factorial(5)

120

In [46]:
# Default arguments (exlpicit value takes priority over default value)

def welcome(name = "Hero"):
    print('hello', name)
welcome()
# welcome('Racy')

hello Hero

In [47]:
#scope of variable in function

def func2():
    z=3 # Local Variable
    print(z)
func2()

3

In [48]:
print(z) # this variable is declared inside the function so it can only be printed inside the function

NameError: name 'z' is not defined

In [49]:
z = 3
def func2():
    print(z)
func2()

3

In [50]:
print(z) # In this case it is declared Globally so it is Global Variable

3

In [52]:
# Cannot change variable value declared globally from inside the function

In [53]:
a = 10
def funcc():
    global a
    a += 1
    print(a)
funcc()

11

In [54]:
def wlc(*name):
    print('Hello',name[0],',',name[1])
wlc('Rahul','Pratik')

Hello Rahul , Pratik

In [55]:
pi = 3.14
def circlearea(radius):
    return pi * radius**2

def spherearea(radius):
    return 4*pi*radius**2

def main():
    print("circle area is:", circlearea(10))
    print("Sphere area is:", spherearea(10))
main()

circle area is: 314.0
Sphere area is: 1256.0