In [1]:
#Datatypes in python

In [2]:
num = 10
type(num)

int

In [3]:
print(num, "is a type of ", type(num))

10 is a type of  <class 'int'>

In [4]:
num = 10.8
type(num)

float

In [5]:
num = -9.1
type(num)

float

In [12]:
num = 8 + 2j
type(num)

complex

In [18]:
num = 18 + 100j
type(num)

complex

In [19]:
num.real

18.0

In [20]:
num.imag

100.0

In [21]:
# Datatype conversion
num = 8.9
b = int(num)
b

8

In [22]:
print(type(num))
print(type(b))

<class 'float'>
<class 'int'>

In [23]:
# Decimal point part is truncataed

n = -90.5
print(type(n))
print(int(n))

<class 'float'>
-90

In [25]:
 print (float(b))

8.0

In [26]:
#Boolean
r = True
type(r)

bool

In [27]:
n>b

False

In [28]:
#String Datatypes in puthon

str1 = 'Python Jupyter'
str2 = 'Code'
print(type(str1))

<class 'str'>

In [29]:
str1[5]

'n'

In [30]:
str2[-2]

'd'

In [31]:
#String Slicing
str1[0:3]

'Pyt'

In [33]:
#Built in function
str1.find('u')

8

In [34]:
#List Datatype

In [36]:
s1 = "Apple,Ball,Cat,Doll"
list1 = s1.split(",")
print(list1)

['Apple', 'Ball', 'Cat', 'Doll']

In [37]:
type(s1)

str

In [38]:
type(list1)

list

In [39]:
l1 = ['a', '1', 'Nepal']
l1

['a', '1', 'Nepal']

In [40]:
type(l1)

list

In [41]:
l2 = ['b','2']
l1 += l2
print(l1)

['a', '1', 'Nepal', 'b', '2']

In [42]:
#Tuple

In [43]:
tup1 = ('a','b','c')
type(tup1)

tuple

In [44]:
tup2 = ('d','e','f')
tup1 += tup2
print(tup1)

('a', 'b', 'c', 'd', 'e', 'f')

In [46]:
tup1 *2

('a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f')

In [47]:
# Dictionaries

In [48]:
dict1 = {1:"Apple", 2:"Ball", 3:"Cat", 4:"Dog"}
print(dict1)

{1: 'Apple', 2: 'Ball', 3: 'Cat', 4: 'Dog'}

In [49]:
type(dict1)

dict

In [50]:
len(dict1)

4

In [51]:
#Sets

In [52]:
set1 = {1,2,3,4,5,3,4}
print(set1)

{1, 2, 3, 4, 5}

In [53]:
type(set1)

set

In [54]:
set2 = {'a','b',3,4}
print(set1 | set2)

{1, 2, 3, 4, 5, 'b', 'a'}

In [55]:
set1 - set2

{1, 2, 5}

In [56]:
set2 - set1

{'a', 'b'}

In [57]:
# range

In [58]:
x = range(4)
x

range(0, 4)

In [59]:
type(x)

range

In [60]:
#Binary Datatypes (They are not often used in python)

In [61]:
x = b"Hello World"
print(x)

b'Hello World'

In [62]:
type(x)

bytes