In [1]:
# For Loop
name = "Aeroplane"
for i in name:
    print(i)

A
e
r
o
p
l
a
n
e

In [6]:
for i in name:
    print(i, end="* ") # end parameter will have a value of *

A* e* r* o* p* l* a* n* e*

In [8]:
# Using loop in a list

list1 = ['Apple', 'Ball', 'Cat', 'Dog', 'Elephant']
for items in list1:
    print(items)

Apple
Ball
Cat
Dog
Elephant

In [10]:
# Calculating sum and average of a number
num = [10,20,30,40,50]
sum = 0
for i in num:
    sum += i
print("sum is: ", sum)
print("average is: ", sum/len(num))

sum is:  150
average is:  30.0

In [14]:
# range
sum = 0
for i in range(1,10):
    print (i)
    sum +=i
print("The total sum of the range is ",sum)

1
2
3
4
5
6
7
8
9
The total sum of the range is  45

In [15]:
# range stepping

for i in range (1,20,3):
    print(i)

1
4
7
10
13
16
19

In [16]:
# Table of any number

n = int(input("Enter any number: "))

for i in range(1,11):
    multi = n*i
    print(n, "*", i, "=", multi)

Enter any number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [19]:
lst = ['one','two','three','four','five']
for i in range (len(lst)):
    print("Hello", lst[i])

Hello one
Hello two
Hello three
Hello four
Hello five

In [20]:
#Nested for loop

name = ['ram','shyam','hari']
for i in name:
    print('all letters of',i,'will be displayed')
    for letter in i:
        print(letter)

all letters of ram will be displayed
r
a
m
all letters of shyam will be displayed
s
h
y
a
m
all letters of hari will be displayed
h
a
r
i

In [21]:
# For loop in dictionaries

playerName = 'Ronaldo'
dict1 = {'Ronaldo':20, 'Messi':15, 'Nemar':100}

for player in dict1:
    if player == playerName:
        print(dict1[player])
        break
    else:
        print('No player with that name found.')

20